{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Aperitivo{% endblock title %}
{% block description %}Página com vídeo gratuito de Python{% endblock description %}
{% block body %}
<div class="container">
      <div class="row">
         <div class="col-md-12">
           <h1 class="mt-4 mb-3">{{ video.titulo | default:"Título não encontrado" }}</h1>
            <iframe src="https://player.vimeo.com/video/{{ video.vimeo_id }}?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                    width="640" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
                    title="SnapInsta.io-2   Luciano Ramalho   OO em Python sem sotaque-(480p)">
            </iframe>
         </div>
      </div>
    </div>
{% endblock body %}

